<div class="card w-100">
    <div class="card-header">
        <h3>Awards and Certifications</h3>
    </div>
    <div class="card-body">
        <h5 class="text-info">Awards</h5>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            Manager's Choice Award
                        </td>
                        <td>
                            <p><strong>IBM</strong> | 2016, 2017 and 2018</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            'On the Spot' Award
                        </td>
                        <td>
                            <p><strong>Tata Consultancy Services</strong> | 2013</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h5 class="text-info">Certifications</h5>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        Containers & Kubernetes Essentials
                        <a href="https://www.credly.com/badges/24a300c2-cdd7-4580-a2b4-0cfe2ce5b782/public_url" target="_blank">
                            <i class="fa fa-star"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        IBM Solution Architect for Kubernetes and IBM Cloud Paks
                        <a href="https://www.credly.com/badges/d9a689cf-20b3-4416-9741-97e7d8dea370/public_url" target="_blank">
                            <i class="fa fa-star"></i>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Microservices Fundamentals
                        <a href="https://www.credly.com/badges/38dc88bf-21c9-4e6d-b0af-8137f428e9a1/public_url" target="_blank">
                            <i class="fa fa-star"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h5 class="text-info">Badges</h5>
        <div class="jumbotron-fluid">
            <div class="row w-100">
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/aa563539-b7db-4ab9-8fbf-40b0bba804ce/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/1.png" alt="card image">
                            </a>
                        </p>
                        <p>Product Manager - Voice of the market</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/274f0045-038b-4cdd-8b70-17376bc563e2/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/2.png" alt="card image">
                            </a>
                        </p>
                        <p>Product Manager - Accelerating SaaS</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/2da04361-1c42-4729-b546-142f79475171/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/3.png" alt="card image">
                            </a>
                        </p>
                        <p>Product Manager - Scaling the Business</p>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/fd17afd6-dc57-42bd-93d4-678271b98c89/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/4.png" alt="card image">
                            </a>
                        </p>
                        <p>Product Manager - Define, Build & Deliver</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/82b305c2-d302-4dd0-88b6-13982acc1dc4/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/5.png" alt="card image">
                            </a>
                        </p>
                        <p>IBM Digital Learning Transformation</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/b3a34a27-88f1-4f43-891c-03fbd7b63624/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/6.png" alt="card image">
                            </a>
                        </p>
                        <p>Open Source Committer</p>
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/9981c1c2-4ff2-4765-affe-f0feec2e40dc/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/7.png" alt="card image">
                            </a>
                        </p>
                        <p>IBM Certified Solution Advisor - IBM Cloud Foundations V2</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/77646294-65bc-4555-bd35-1c2cce0f7078/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/8.png" alt="card image">
                            </a>
                        </p>
                        <p>IBM Agile Explorer</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/54a9dc3b-555e-44c2-9110-029c1a3730e8/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/9.png" alt="card image">
                            </a>
                        </p>
                        <p>Enterprise Design Thinking Co-Creator</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/36ac64c1-b6ad-49a9-973a-6fc47f1daaec/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/10.png" alt="card image">
                            </a>
                        </p>
                        <p>Enterprise Design Thinking Practitioner</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body text-center">
                        <p>
                            <a href="https://www.credly.com/badges/d42a23ff-4ac0-422c-8a3c-5e706bffdc17/public_url" target="_blank">
                                <img class="img-fluid" src="assets/img/icons/11.png" alt="card image">
                            </a>
                        </p>
                        <p>People Skills - Resilience, Growth Minded, Learning Agility, Time Management</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body text-center">
                    <p>
                        <a href="https://www.credly.com/badges/059dd575-86aa-4ede-88a1-3902c2219801/public_url" target="_blank">
                            <img class="img-fluid" src="assets/img/icons/12.png" alt="card image">
                        </a>
                    </p>
                    <p>IBM Mentor</p>
                </div>
            </div>
        </div>
    </div>
</div>
