<div class="card w-100">
    <div class="card-header">
        <h3>Education</h3>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>Master of Management Information System</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa fa-university"></i> The University of Arizona
                    </h5>
                    <p class="card-text">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <i class="fa fa-map-marker"></i> Tucson, Arizona
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-calendar"></i> December, 2015
                            </li>
                            <li class="list-group-item">
                                <i class="fa fa-star"></i> 3.33 GPA
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3>Bachelor of Technology in Mechatronics Engineering</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fa fa-university"></i> Ganpat University
                    </h5>
                    <p class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <i class="fa fa-map-marker"></i> India
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-calendar"></i> May, 2011
                        </li>
                        <li class="list-group-item">
                            <i class="fa fa-star"></i> 3.8 GPA
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
