<div class="card w-100">
  <div class="card-header">
    <h3>About Me</h3>
  </div>
  <div class="card-body">
    <h5 class="text-info">Profile</h5>
    <p class="card-text">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Experienced Product Manager with 7+ years in numerous product and engineering leadership roles
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Leading the IBM Security Offerings suite to achieve a high 7-figure revenue growth for the platform with the strategy to transform the digital user experience
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Proficient in extracting and anticipating business requirements, converting those to technical requirements
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Collaborated closely with cross-functional team members to deliver milestones that align with long term growth targets
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Earned the ‘IBM Enterprise Design Thinking’ co-creator badge, which teaches design research, prototypes, collaboration, scoping and storytelling for building enterprise grade software design and implementation
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Experienced in Go-to-market strategy, marketing, growth hacking, data insights, modeling, SaaS and cloud business models and Enterprise customer development
        </li>
      </ul>
    </p>
    <hr/>
    <h5 class="text-info">What do I bring to the team ?</h5>
    <div class="jumbotron-fluid">
      <div class="row w-100">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center"><i class="fa fa-code"></i></h3>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Product Management</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center"><i class="fa fa-skyatlas"></i></h3>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Software Development</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h3 class="text-center"><i class="fa fa-connectdevelop"></i></h3>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Leadership, Passion and Ability to quickly pick-up new things</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
