<div class="card w-100">
    <div class="card-header">
        <h3>Skills</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            Product Management skills
                        </th>
                        <td>
                            <p>Go-to-Market, Marketing, UI/UX design, User research, Market research, Competitive Analysis</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            PM Tools and Technologies
                        </th>
                        <td>
                            <p>Amplitude, Google Analytics, Braze, Seismic, Invision, Walkme, Hotjar, MS Office Suite, Tableau</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Programming Languages
                        </th>
                        <td>
                            <p>Golang, Typescript, Javascript, Python</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Web Technologies
                        </th>
                        <td>
                            <p>HTML, CSS, Bootstrap, Angular, React</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Application Servers
                        </th>
                        <td>
                            <p>NodeJS</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Database
                        </th>
                        <td>
                            <p>SQL, PL/SQL (Oracle, Postgres, DB2)</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            CD/CI Technologies
                        </th>
                        <td>
                            <p>GIT, Jenkins, Concourse</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Containerization Tools
                        </th>
                        <td>
                            <p>Kubernetes, Docker</p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Cloud Technologies
                        </th>
                        <td>
                            <p>IBM Cloud, Amazon Web Services</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr/>
        </div>
    </div>
</div>
