<div class="card w-100">
    <div class="card-header">
        <h3>Work Experience</h3>
    </div>
    <div class="card-body">
        <h5 class="text-info">Product Manager</h5>
        <p class="text-justify"><strong>IBM</strong> | April, 2020 - Present</p>
        <p class="card-text">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Leading the improvement of digital user journey using actionable insights to increase the conversions resulting in revenue growth of approx. $10M
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Leading a team of engineers and PMs to deliver exceptional digital trial experience strategy to improve the conversion numbers across the funnel which increased the wins by 5%
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Responsible for maintaining the priority of product roadmap, backlog, sprint and release plans
            </li>
        </p>
        <hr/>
        <h5 class="text-info">Advisory Software Engineer</h5>
        <p class="text-justify"><strong>IBM</strong> | January, 2016 - April, 2020</p>
        <p class="card-text">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Lead Developer for a back-end applications that interacts with 3rd Party Marketplaces, creating an incremental revenue channel of approx. $50M
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Conceptualized and led the development of full stack 'Ticketing system' and 'Status Page' applications, reducing the recurring licensing cost by $320k annually
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Implemented containerized API services hosted on IBM Cloud Kubernetes Service to enable provisioning of IBM products on Third Party Marketplaces
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Developed cloud native architecture to support stateful event driven applications using Knative
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Wrote unit tests, functional tests and integration tests to automate overall
                    testing and achieve 100% test and code coverage.
                </li>
            </ul>
        </p>
        <hr/>
        <h5 class="text-info">Product Analyst</h5>
        <p class="text-justify"><strong>Tata Consultancy Services</strong> | January, 2012 - July, 2014</p>
        <p class="card-text">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Worked as pre-sales member to understand client’s business requirements and potentially deliver creative solutions
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Utilized a problem-solving skills and reduced client’s dependency on Microsoft Premium support by 66% resulting in savings of $300k
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Worked at client location as a dedicated Subject Matter Expert for Microsoft technologies
                </li>
            </ul>
        </p>
    </div>
</div>
